
body, .container {
  background-color: orange;
  word-wrap: break-word;
}

.burger-div {
  background-color: white;
  width: 80%;
  padding: 10px 5px;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
}

h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: red;
  min-width: 350px;
}

h3 {
  color: red;
}

header {
  padding: 30px 0px;
  text-align: center;
}

header strong {
  font-style: italic;
  color: blue;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


img {
  min-width: 250px;
}

#burger-wrong {
  display: none; 
  color: red;
}

